 input[type="tel"] {
          border: 1px solid #ddd;
  padding: 4px 8px;
}
input[type="tel"]:focus {
  border: 1px solid #000;
}
input[type="submit"] {
  font-weight: bold;
  padding: 4px 8px;
  border:1px solid #000;
  background: #3b5998;
  color:#fff;
}
form {
  width: 50%;
  margin: 0 auto;
}
textarea{
  border: 1px solid #ddd;
  padding: 4px 8px;
}
textarea:focus{
  border: 1px solid #000;
}
label{
  font-size: 30px;
  color: white;
}
h2{
    color: white;
    font-size: 40px;
}

#phonenum{
    height: 25px;
    width: 325px;
}
#message{
    height: 200px;
    width: 325px;
}